@using OnlineInventory.ViewModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RegisterViewModel

    <form method="post" asp-action="Login" data-ajax="true" data-ajax-update="#formPanel">
        <h3 class="text-center">Registration Form</h3>
        <div class="mb-3">
            <label asp-for=Username class="form-label"></label>
            <input asp-for=Username class="form-control" placeholder="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="RoleId" class="form-label">Role</label>
            <select asp-for="RoleId" class="form-select" id="roleDDL">
            <option value="0">--Select a Role--</option>
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
        <div class="text-center">
           Already registered? <a href="#" data-ajax="true" data-ajax-url="/Home/Login" data-ajax-update="#formPanel">Login here</a>
        </div>
    </form>

<script>
    $("#roleDDL").load("/home/roles");
</script>