@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex justify-content-center p-4" id="formPanel">
</div>

@section Scripts {
    <script>
        $("#formPanel").load("/Home/Login");
    </script>
}