@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container d-flex justify-content-center p-4" >
    <div id="formPanel" class="col-lg-4 col-md-6 col-12 border p-3">

    </div>
</div>

@section Scripts {
    <script>
        $("#formPanel").load("/Home/Login");
    </script>
}