@using OnlineInventory.ViewModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
@model IEnumerable<CategoryViewModel>

<h3 class="text-center">Category</h3>
<div class="d-flex mb-3">
    <button data-toggle="ajax-modal" data-target="#addCourse" data-url='@Url.Action("AddCategory")' class="btn btn-primary"><i class="fa-solid fa-add"></i> Add Category</button>
</div>
<div class="responsive-table">
    <table class="table table-bordered">
        <thead>
            <tr class="table-dark">
                <th>Category ID</th>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryID</td>
                        <td>@item.CategoryName</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2" class="text-center p-3">No Categories found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(function () {
        var modelPopupBox = $('#modelPopupBox');
        $('button[data-toggle="ajax-modal"]').on('click', function (event) {
            console.log('pressed');
            debugger;
            var uri = $(this).data('url');
            var decodeUrl = decodeURIComponent(uri);
            $.get(decodeUrl).done(function (data) {
                modelPopupBox.html(data);
                modelPopupBox.find('.modal').modal('show');
            })
        })

        modelPopupBox.on('click', '[data-save="modal"]', function (event) {
            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr('action');
            var url = document.location.pathname + '/' + actionUrl;
            var sendData = form.serialize();
            $.post(url, sendData).done(function (data) {
                modelPopupBox.find('.modal').modal('hide');
                location.reload()
            })
        })

        modelPopupBox.on('click', '[data-dismiss="modal"]', function (event) {
            modelPopupBox.find('.modal').modal('hide');
        })

        console.log('attached')
    });
</script>
