@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model StockViewModel

<div class="modal fade" id="addCourse">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Stock</h4>
                <button type="button" class="btn-close" data-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">
                <form asp-action="AddStock" method="post">
                    <div class="form-group">
                        <label asp-for="ProductId" class="form-label">Product</label>
                        <select asp-for="ProductId" class="form-select">
                            <option value="">Select a Product</option>
                            @foreach(var item in ViewBag.Products as IEnumerable<OptionViewModel> ?? new List<OptionViewModel>())
                            {
                                <option value="@item.Value">@item.Label</option>
                            }
                        </select>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WarehouseId" class="form-label">Warehouse</label>
                        <select asp-for="WarehouseId" class="form-select">
                            <option value="">Select a Warehouse</option>
                            @foreach (var item in ViewBag.Warehouses as IEnumerable<OptionViewModel> ?? new List<OptionViewModel>())
                            {
                                <option value="@item.Value">@item.Label</option>
                            }
                        </select>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="form-label">Quantity</label>
                        <input asp-for="Quantity" class="form-control" placeholder="Quantity" type="number" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>